<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>头条</key>
	<string>SYLB10,SYDT10</string>
	<key>娱乐</key>
	<string>YL53,FOCUSYL53</string>
	<key>科技</key>
	<string>KJ123,FOCUSKJ123</string>
	<key>军事</key>
	<string>JS83,FOCUSJS83</string>
	<key>体育</key>
	<string>TY43,FOCUSTY43,TYLIVE,TYTOPIC</string>
	<key>游戏</key>
	<string>YX11,FOCUSYX11</string>
	<key>暖新闻</key>
	<string>NXWPD,FOCUSNXWPD</string>
	<key>社会</key>
	<string>SH133,FOCUSSH133</string>
	<key>数码</key>
	<string>SM66,FOCUSSM66</string>
	<key>NBA</key>
	<string>NBAPD,FOCUSNBAPD</string>
	<key>历史</key>
	<string>LS153,FOCUSLS153</string>
	<key>时政</key>
	<string>SZPD,FOCUSSZPD</string>
	<key>国学</key>
	<string>GXPD,FOCUSGXPD</string>
	<key>哲思</key>
	<string>KJ123,FOCUSKJ123</string>
	<key>时尚</key>
	<string>SS78,FOCUSSS78</string>
	<key>文化</key>
	<string>WH25,FOCUSWH25</string>
	<key>旅游</key>
	<string>LY67,FOCUSLY67</string>
	<key>国际</key>
	<string>GJPD</string>
	<key>港澳</key>
	<string>GA18</string>
	<key>汽车</key>
	<string>QC45,FOCUSQC45</string>
	<key>财经</key>
	<string>CJ33,FOCUSCJ33,HNCJ33</string>
	<key>家居</key>
	<string>JJPD,FOCUSJJPD</string>
	<key>电影</key>
	<string>DYPD</string>
	<key>台湾</key>
	<string>TW73</string>
	<key>健康</key>
	<string>JK36,FOCUSJK36</string>
	<key>跑步</key>
	<string>PBPD,PBPDFOCUS</string>
	<key>酒业</key>
	<string>JYPD,FOCUSJYPD</string>
	<key>智库</key>
	<string>ZK30,FOCUSZK30</string>
	<key>星座</key>
	<string>XZ09,FOCUSXZ09</string>
	<key>公益</key>
	<string>GYPD,FOCUSGYPD</string>
	<key>自媒体</key>
	<string>FOCUSZMT10</string>
	<key>佛教</key>
	<string>FJ31,FOCUSFJ31</string>
	<key>青年</key>
	<string>QN39,FOCUSQN39</string>
	<key>读书</key>
	<string>DS57,FOCUSDS57</string>
	<key>评论</key>
	<string>PL40,FOCUSPL40</string>
	<key>教育</key>
	<string>就是名字</string>
	<key>CBA</key>
	<string>就是名字</string>
	<key>英超</key>
	<string>就是名字</string>
	<key>欧冠</key>
	<string>就是名字</string>
	<key>西甲</key>
	<string>就是名字</string>
	<key>意甲</key>
	<string>就是名字</string>
	<key>音乐</key>
	<string>就是名字</string>
	<key>奢侈品</key>
	<string>就是名字</string>
	<key>演出</key>
	<string>就是名字</string>
	<key>中国足球</key>
	<string>就是名字</string>
	<key>羽毛球</key>
	<string>就是名字</string>
	<key>乒乓球</key>
	<string>就是名字</string>
	<key>健身</key>
	<string>就是名字</string>
	<key>女足</key>
	<string>就是名字</string>
	<key>iphone</key>
	<string>就是名字</string>
	<key>三星</key>
	<string>就是名字</string>
	<key>智能穿戴</key>
	<string>就是名字</string>
	<key>智能家庭</key>
	<string>就是名字</string>
	<key>手机</key>
	<string>就是名字</string>
	<key>极客</key>
	<string>就是名字</string>
	<key>笔记本</key>
	<string>就是名字</string>
	<key>平板电脑</key>
	<string>就是名字</string>
	<key>影像</key>
	<string>就是名字</string>
	<key>数码产品导购</key>
	<string>就是名字</string>
	<key>数码评测</key>
	<string>就是名字</string>
	<key>互联网</key>
	<string>就是名字</string>
	<key>互联网金融</key>
	<string>就是名字</string>
	<key>无人机</key>
	<string>就是名字</string>
	<key>阿里巴巴</key>
	<string>就是名字</string>
	<key>腾讯</key>
	<string>就是名字</string>
	<key>百度</key>
	<string>就是名字</string>
	<key>小米</key>
	<string>就是名字</string>
	<key>移动互联网</key>
	<string>就是名字</string>
	<key>微信</key>
	<string>就是名字</string>
	<key>明星</key>
	<string>就是名字</string>
	<key>八卦绯闻</key>
	<string>就是名字</string>
	<key>港台明星</key>
	<string>就是名字</string>
	<key>日韩明星</key>
	<string>就是名字</string>
	<key>内地明星</key>
	<string>就是名字</string>
	<key>欧美明星</key>
	<string>就是名字</string>
	<key>电视娱乐</key>
	<string>就是名字</string>
	<key>华为</key>
	<string>就是名字</string>
	<key>魅族</key>
	<string>就是名字</string>
	<key>家电</key>
	<string>就是名字</string>
</dict>
</plist>
